html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #dadbdb;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}