.home-container {
  width: 100%; 
  max-width: 1600px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  margin-bottom: 40px;
}

.main-content {
  display: flex;
  gap: 20px;
  flex: 1; /* Ensure main-content takes up the remaining space */
  overflow: hidden; /* Prevent overflow */
}

.left-container, .right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%; 
  overflow-y: auto; 
}

.left-container {
  border-right: 2px solid #ccc; 
  padding-right: 20px;
}

.right-container {
  padding-left: 20px; 
}
