.person-info {
  padding: 20px;
}

.person-info h3 {
  margin-bottom: 20px;
}

.person-info-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc; 
}

.person-info-card p {
  margin: 10px 0;
}

.person-info-card strong {
  color: #272a2d; 
}

.person-info-text {
  color: #f50002; 
}
